
.header {
  text-align: center;
}

.form{
  /* box-shadow: 0 10px 15px rgba(0, 0, 0); */
  box-shadow: 0px 7px #888888;
  padding: 20px;
  /* border: 5px outset red; */
  background-color: White;
  width: 33%;
  margin-left: 35%;
  border-radius: 10px;
}

.bg{
  /* background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/90a91a4a-dedc-4c19-97e9-01ff17740623/sportswear-swoosh-mens-semi-brushed-back-pants-gL5ctV.png"); */
  background-color: rgb(143, 143, 143);
  /* width: 70%; */
  padding: 20px;
}

.user{
  color:white;
  /* padding-left: 90%; */
  
}

.item{
  /* background-color: grey; */
  cursor: pointer;
  background-color: white;
  height:420px;
  width:300px;
  text-align: center;
  border-radius: 10px;
  /* color:red; */
  /* margin-left: 10%; */
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

.item:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease-in-out;
}


.items{
  /* background-image: url("https://previews.123rf.com/images/arrow/arrow1508/arrow150800028/43966988-online-shopping-e-commerce-concept-background.jpg"); */
 
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  /* outline: 5px dotted green; */
}



.carousel1{
  display: none;
  width:50%;
  margin-left:20%;
  /* color: black; */
}

.catalogue{
  background-color:rgb(228, 228, 228);
}
/* 
Carousel{
  width:10px;
} */

.dunno{
  height:100px;
  width:100px;
}

.cart{
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.footer{
  background-color: grey;
}
/* 
.footer:hover {
  text-decoration: underline;
} */


.footerItem{
  color:black;
}

.footerItem:hover{
  text-decoration: underline;
  color:rgb(78, 78, 78);
}


.icons{
  color:black;
  text-decoration: none;
}

.icons:hover{
  /* text-decoration: underline; */
  color:rgb(92, 37, 37);
  transition: color 0.2s ease-in-out;
}

.SignUpButton{
  margin-left: 38%;
  margin-top: 10px;
}

/* .search{
  float:"left";
  margin-Left:"-18px";
  margin-Top:"8px";
} */

/* .search:hover{
  curser: pointer;
} */

body{
  /* background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/90a91a4a-dedc-4c19-97e9-01ff17740623/sportswear-swoosh-mens-semi-brushed-back-pants-gL5ctV.png"); */
  background-color: rgb(128, 128, 128);

}

.cataloguebg{
  /* background-image: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/90a91a4a-dedc-4c19-97e9-01ff17740623/sportswear-swoosh-mens-semi-brushed-back-pants-gL5ctV.png"); */
  background-color: rgb(177, 177, 177);

}


/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top:"20";
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.homediv{}


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}